POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=db_name
DATABASE_URL=db_url

REDIS_URL=redis_url

JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=n_days

PORT=port_number

# Shopify Worker
PLAYWRIGHT_HEADLESS=true
SHOPIFY_DEFAULT_TIMEOUT=30000

# For ebay
EBAY_ENVIRONMENT=sandbox
EBAY_CLIENT_ID=your_ebay_app_id
EBAY_CLIENT_SECRET=your_ebay_cert_id
EBAY_MARKETPLACE_ID=EBAY_US
EBAY_SEARCH_LIMIT=50