POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=db_name
DATABASE_URL=db_url

REDIS_URL=redis_url

JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=n_days

PORT=port_number

# Shopify Worker
PLAYWRIGHT_HEADLESS=true
SHOPIFY_DEFAULT_TIMEOUT=30000

# For ebay
EBAY_ENVIRONMENT=production
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_ID=EBAY_GB
EBAY_SEARCH_LIMIT=200

#  For google shopping
SERPAPI_API_KEY=
GOOGLE_SHOPPING_SEARCH_LIMIT=120
GOOGLE_SHOPPING_PAGE_SIZE=40
GOOGLE_SHOPPING_MAX_PAGES=6
GOOGLE_SHOPPING_DEFAULT_COUNTRY=us
GOOGLE_SHOPPING_DEFAULT_LANGUAGE=en

AMAZON_BASE_URL=https://www.amazon.co.uk
AMAZON_RESULT_LIMIT=20
AMAZON_MAX_PAGES=2
AMAZON_WORKER_CONCURRENCY=1
AMAZON_HEADLESS=true

# Optional proxy values. Leave empty for local test.
AMAZON_PROXY_SERVER=
AMAZON_PROXY_USERNAME=
AMAZON_PROXY_PASSWORD=